<!-- ================================================== -->
<!--  Category editor template. -->
<!-- ================================================== -->

<template>
  <div>
    
    <split-editor ref="splitEditor" v-if="editingSplit" :transaction="transaction" :split="splitToEdit" :currentData="currentData" v-on:done="editSplitDone" />

    <div v-if="!editing">
      <!-- Header. -->
      <div class="w3-display-container w3-container w3-theme-l3" style="height:40px; position: absolute; width: 100%; top: 0; bottom: 0; left: 0; right: 0">
        <div class="w3-display-left w3-container">Category</div>
      </div>

      <!-- Category list. -->
      <div v-if="category !== 'split' && category !== 'income' && category !== 'incomeNextMonth'" style="position: absolute; top: 160px; bottom: 0; left: 0; right: 0; overflow-y: scroll; -webkit-overflow-scrolling: touch;">
        <div v-for="(masterCategory, key) in masterCategories" :key="key">
          <div class="w3-container w3-padding w3-theme-l3">{{masterCategory.name}}</div>
          <ul class="w3-ul w3-card">
            <li @click="setCategory(cat)" v-for="(cat, key) in masterCategory.categories" :key="key" class="bar-50 w3-display-container">

              <div v-if="cat.id === category" class="selected-check w3-display-left"><i class="fas fa-check"></i></div>

              <div class="category-name w3-display-left">
                <div class="w3-panel">{{cat.name}}</div>
              </div>

              <div class="w3-display-right" :class="[getCategoryBalance(cat.id, currentData.date) < 0 ? 'w3-text-red' : getCategoryBalance(cat.id, currentData.date) > 0 ? 'w3-text-green' : 'w3-text-grey']">
                <div class="w3-panel">
                  <div
                    :class="balanceClass(cat.id, currentData.date)"
                    :style="balanceStyle(cat.id, currentData.date)">
                    {{getCategoryBalance(cat.id, currentData.date) | currencyInt(true, $.digits) | currency('', $.digits)}}
                  </div>
                </div>
              </div>

            </li>
          </ul>
        </div>
      </div>

      <!-- Split transaction list. -->
      <div v-if="category === 'split'" style="position: absolute; top: 150px; bottom: 0; left: 0; right: 0; overflow-y: scroll; -webkit-overflow-scrolling: touch;">

        <!-- Main transaction info. -->
        <div class="w3-tiny">
          <div class="bar-50 w3-display-container w3-theme-l4">

            <!-- Payee. -->
            <div class="w3-display-left w3-margin-left">
              <div style="margin-bottom: 20px;" :style="[currentData.payee === 'No payee' ? {'font-style': 'italic', 'color': '#cccccc'} : {'font-weight': 'bold'}]">
                {{currentData.payee}}
              </div>
            </div>

            <!-- Category. -->
            <div class="w3-display-left w3-margin-left">
              <div style="margin-top: 20px;" :style="[categoryName === 'No category' ? {'font-style': 'italic', 'color': '#cccccc'} : {}]">
                {{categoryName}}
              </div>
            </div>

            <!-- Memo.. -->
            <div class="w3-display-right">
              <div class="w3-margin-right w3-text-grey" style="margin-top: 20px;">
                {{currentData.memo}}
                </div>
            </div>

            <!-- Transaction amount. -->
            <div class="w3-display-right">
              <div class="w3-margin-right" v-bind:class="[currentData.value < 0 ? 'w3-text-red' : currentData.value > 0 ? 'w3-text-green' : 'w3-text-gray']" style="margin-bottom: 20px">
                <b>{{currentData.value | currencyInt(true, $.digits) | currency($.symbol, $.digits)}}</b>
              </div>
            </div>

          </div>

        </div>

        <!-- Split list. -->
        <ul v-if="splits.length > 0" class="w3-ul w3-border-bottom">
          <li style="margin: 0; padding: 0;" v-for="(split, index) in splits" :key="index">

            <div class="w3-tiny w3-display-container">
              <div @click="toggleEditor(index)" class="w3-display-container bar-50">

                <!-- Payee. -->
                <div class="w3-display-left w3-margin-left">
                  <div style="margin-bottom: 20px;" :style="[splitPayeeName(split) === 'No payee' ? {'font-style': 'italic', 'color': '#cccccc'} : {'font-weight': 'bold'}]">
                    {{splitPayeeName(split)}}
                  </div>
                </div>

                <!-- Category. -->
                <div class="w3-display-left w3-margin-left">
                  <div style="margin-top: 20px;" :style="[splitCategoryName(split) === 'No category' ? {'font-style': 'italic', 'color': '#cccccc'} : {}]">
                    {{splitCategoryName(split)}}
                  </div>
                </div>

                <!-- Memo.. -->
                <div class="w3-display-right">
                  <div class="w3-margin-right w3-text-grey" style="margin-top: 20px;">
                    {{split.memo}}
                    </div>
                </div>

                <!-- Split amount. -->
                <div class="w3-display-right">
                  <div class="w3-margin-right" :class="[split.value < 0 ? 'w3-text-red' : split.value > 0 ? 'w3-text-green' : 'w3-text-gray']" style="margin-bottom: 20px">
                    {{split.value | currencyInt(true, $.digits) | currency($.symbol, $.digits)}}
                  </div>
                </div>

              </div>

              <!-- Edit buttons. -->
              <div v-if="indexToEdit === index" class="w3-display-container" style="margin: 0; padding: 0; border: 0">
                <div style="padding: 0; whitepspace: nowrap">

                  <div @click="editSplit(index)" class="w3-medium" style="display: inline-block; padding: 16px 12px 24px 16px;">
                    <i class="fas fa-edit w3-text-orange"></i> Edit
                  </div>

                  <div v-if="!confirmActive" @click="removeSplit" class="w3-medium" style="display: inline-block; padding: 16px 16px 24px 16px;">
                    <i class="fas fa-times w3-text-red"></i> Remove
                  </div>

                  <div v-if="confirmActive" @click="removeSplitConfirm(index)" class="w3-medium" style="display: inline-block; padding: 16px 16px 24px 16px;">
                    <i class="fas fa-times w3-text-red"></i> Confirm Removal
                  </div>

                </div>
              </div>

            </div>

          </li>
        </ul>

        <!-- Add split button. -->
        <div v-if="category === 'split'" class="w3-display-container" style="margin: 0; padding: 0; border: 0">
          <div style="padding: 0; whitepspace: nowrap">

            <div @click="addSplit" class="w3-medium" style="display: inline-block; padding: 16px 12px 24px 16px;">
              <i class="fas fa-plus-circle w3-text-green"></i> Add Another Split
            </div>

            <div class="w3-tiny" :class="[amountLeft < 0 ? 'w3-text-red' : amountLeft > 0 ? 'w3-text-green' : 'w3-text-gray']" style="float: right; display: inline-block; padding: 20px 16px 20px 8px;">
              <b>{{Math.abs(amountLeft) | currencyInt(true, $.digits) | currency($.symbol, $.digits)}}</b>
            </div>

            <div class="w3-tiny" style="float: right; display: inline-block; padding: 20px 0px;">Amount Left:</div>

          </div>
        </div>

      </div>

      <!-- Type selector and OK/Cancel buttons. -->
      <div class="w3-theme-l4" style="position: absolute; height: 120px; top: 40px; left: 0; rigth: 0; width: 100%;">

        <div class="selector-wrapper">
          <div class="w3-dropdown-click">
            <div @click="toggleMenu" class="selector-button w3-theme w3-card">
              {{categoryName}}
              <div class="selector-arrow"><i class="fas fa-caret-down"></i></div>
            </div>
            <div id="type-dropdown" class="w3-dropdown-content w3-bar-block w3-border">
              <div @click="selectSingle" class="w3-bar-item">Category</div>
              <div @click="selectMultiple" class="w3-bar-item">Multiple Categories</div>
              <div @click="selectIncome" class="w3-bar-item">{{incomeThisMonth}}</div>
              <div @click="selectIncomeNext" class="w3-bar-item">{{incomeNextMonth}}</div>
              <div v-if="category != null" @click="clearCategory" class="w3-bar-item">Clear Category</div>
            </div>
          </div>
        </div>

        <div class="save-cancel-wrapper">
          <div @click="save" class="button w3-card" :class="[category === 'split' && amountLeft !== 0 ? 'w3-theme-l3' : 'w3-theme']">
            <div :class="[category === 'split' && amountLeft !== 0 ? 'w3-text-gray' : '']">OK</div>
          </div>
          <div @click="cancel" class="button w3-card w3-theme">Cancel</div>
        </div>

      </div>
    </div>

  </div>
</template>

<!-- ================================================== -->
<!--  Category editor script. -->
<!-- ================================================== -->

<script>
  import SplitEditor from './editor-split';
  import { SplitTransaction as splitTransaction } from 'financier-core-unofficial';

  let SplitTransaction;

  export default {
    components: {
      SplitEditor
    },
    props: [
      'transaction',
      'originalCategory',
      'originalSplits',
      'currentData'
    ],
    data () {
      return {
        title: 'Transaction Category',
        category: null,
        splits: [],
        masterCategories: [],
        indexToEdit: -1,
        confirmActive: false,
        editingSplit: false,
        splitToEdit: null
      };
    },
    computed: {
      editing () {
        return this.editingSplit;
      },
      categoryName () {
        return this.$current.dbCtrl.getCategoryName(this.category, this.currentData.date) || 'Category (None Selected)';
      },
      incomeThisMonth () {
        return this.$current.dbCtrl.getCategoryName('income', this.currentData.date) || 'Income This Month';
      },
      incomeNextMonth () {
        return this.$current.dbCtrl.getCategoryName('incomeNextMonth', this.currentData.date) || 'Income Next Month';
      },
      amountLeft () {
        let sum = 0;

        for (let i = 0; i < this.splits.length; i++) {
          sum += this.splits[i].value;
        }

        return this.currentData.value - sum;
      }
    },
    methods: {
      goBack () {
        if (!this.editingSplit) {
          this.cancel();
        } else {
          this.$refs.splitEditor.goBack();
        }
      },
      save () {
        if (this.category === 'split' && this.amountLeft !== 0) {
          return;
        }

        if (this.category !== 'split') {
          this.splits = [];
        }

        this.$emit('save', {
          category: this.category,
          splits: this.splits
        });
      },
      cancel () {
        this.$emit('cancel');
      },
      setCategory (category) {
        this.category = category.id;
      },
      selectSingle () {
        this.category = null;
        this.hideMenu();
      },
      selectMultiple () {
        this.category = 'split';
        if (this.splits.length === 0) {
          this.splits = [
            new SplitTransaction(this.transaction).toJSON(),
            new SplitTransaction(this.transaction).toJSON()
          ];
        }
        this.hideMenu();
      },
      selectIncome () {
        this.category = 'income';
        this.hideMenu();
      },
      selectIncomeNext () {
        this.category = 'incomeNextMonth';
        this.hideMenu();
      },
      clearCategory () {
        this.category = null;
        this.hideMenu();
      },
      hideMenu () {
        var menu = document.getElementById('type-dropdown');
        if (menu.className.indexOf('w3-show') !== -1) {
          menu.className = menu.className.replace(' w3-show', '');
        }
      },
      toggleMenu () {
        var menu = document.getElementById('type-dropdown');
        if (menu.className.indexOf('w3-show') === -1) {
          menu.className += ' w3-show';
        } else {
          menu.className = menu.className.replace(' w3-show', '');
        }
      },
      getCategoryBalance (categoryId, date) {
        const month = this.$current.dbCtrl.manager.getMonth(date || new Date());
        const categoryCache = month.categoryCache[categoryId];

        if (categoryCache) {
          return month.categoryCache[categoryId].balance;
        }

        return 0;
      },
      balanceClass (categoryId, date) {
        const balance = this.getCategoryBalance(categoryId, date);
        const classes = [];

        classes.push('budget-value-text');

        if (balance < 0) {
          classes.push('w3-red');
          classes.push('w3-round-xlarge');
        } else if (balance > 0) {
          classes.push('w3-green');
          classes.push('w3-round-xlarge');
        }

        return classes;
      },
      balanceStyle (categoryId, date) {
        const balance = this.getCategoryBalance(categoryId, date);
        const style = {};

        if (balance < 0) {
          style.padding = '2px 6px 2px 4px';
        }

        if (balance > 0) {
          style.padding = '2px 6px';
        }

        if (balance === 0) {
          style.color = '#ccc';
        }

        return style;
      },
      splitCategoryName (split) {
        return this.$current.dbCtrl.getCategoryName(split.category, this.currentData.date) || 'No category';
      },
      splitPayeeName (split) {
        let payee = '';

        if (split.payee !== null && split.payee !== undefined) {
          if (split.payee.constructorName === 'Account') {
            payee = '⇄ ' + this.$current.dbCtrl.getAccountName(split.payee.id);
          } else if (split.payee.constructorName === 'Payee') {
            payee = this.$current.dbCtrl.getPayeeName(split.payee.id);
          } else {
            payee = '';
          }
        }

        if (payee !== '' && payee !== null) {
          return payee;
        } else {
          return 'No payee';
        }
      },
      addSplit () {
        this.splits.push(new SplitTransaction(this.transaction).toJSON());
      },
      toggleEditor (index) {
        if (this.indexToEdit !== index) {
          this.indexToEdit = index;
        } else {
          this.indexToEdit = -1;
          this.confirmActive = false;
        }
      },
      editSplitDone () {
        this.editingSplit = false;
        this.indexToEdit = -1;
      },
      editSplit (index) {
        this.splitToEdit = this.splits[index];
        this.editingSplit = true;
      },
      removeSplit () {
        this.confirmActive = true;
      },
      removeSplitConfirm (index) {
        this.splits.splice(index, 1);
        this.indexToEdit = -1;
        this.confirmActive = false;
      }
    },
    mounted () {
      this.title = 'Transaction Category';

      SplitTransaction = splitTransaction(this.$current.budgetId());

      this.category = this.originalCategory;
      this.splits = this.originalSplits;
      this.masterCategories = Object.keys(this.$current.dbCtrl.masterCategories)
        .map(id => this.$current.dbCtrl.masterCategories[id])
        .sort((a, b) => a.sort - b.sort);

      if (this.category === 'split') {
        this.type = {
          type: 'split',
          description: 'Multiple Categories'
        };
      } else if (this.category === 'income') {
        this.type = {
          type: 'income',
          description: 'Income This Month'
        };
      } else if (this.category === 'incomeNextMonth') {
        this.type = {
          type: 'incomeNextMonth',
          description: 'Income Next Month'
        };
      }
    }
  };
</script>

<!-- ================================================== -->
<!--  Category editor CSS. -->
<!-- ================================================== -->

<style scoped>
  .bar-50 {
    height: 50px;
  }

  .selector-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 8px;
    margin: 16px 16px 16px 16px;
  }

  .selector-list {
    display: grid;
    grid-template-columns: 1fr;
  }

  .selector-button {
    padding: 8px 16px;
  }

  .selector-arrow {
    float: right;
  }

  .category-name {
    padding: 0px 0px 0px 24px;
  }

  .selected-check {
    padding: 0px 0px 0px 16px;
  }
</style>