<!-- ================================================== -->
<!--  Transaction template. -->
<!-- ================================================== -->

<template>
  <div class="w3-tiny w3-display-container">

    <div @click="toggleMenu" class="w3-display-container bar-50">

      <!-- Date. -->
      <div class="left-column w3-display-topleft w3-display-container">
        <div class="w3-display-topmiddle" style="margin-top: 8px">{{date}}</div>
      </div>

      <!-- Payee. -->
      <div class="center-column w3-display-left">
        <div style="margin-bottom: 20px;"><b>{{payeeName}}</b></div>
      </div>

      <!-- Category. -->
      <div class="center-column w3-display-left">
        <div v-if="!categoryError && !categoryNotNeeded" style="margin-top: 20px;">{{categoryName}}</div>
        <div v-if="categoryError" class="w3-red w3-round-xlarge" style="margin-top: 20px; padding: 0px 6px;">Category Required</div>
        <div v-if="categoryNotNeeded" style="margin-top: 20px; font-style: italic; color: #ccc">Category Not Needed</div>
      </div>

      <!-- Memo.. -->
      <div class="w3-display-right">
        <div class="w3-margin-right w3-text-grey" style="margin-top: 20px;">{{memo}}</div>
      </div>

      <!-- Cleared icon. -->
      <div class="left-column w3-display-left w3-display-container" v-if="!transaction.reconciled">
        <div class="cleared w3-display-middle" style="margin-top: 10px" :class="transaction.cleared === true ? 'w3-theme' : 'w3-grey w3-text-white'">
          C
        </div>
      </div>

      <!-- Reconciled icon. -->
      <div class="left-column w3-display-left w3-display-container" v-if="transaction.reconciled">
        <div class="w3-display-middle" style="margin-top: 10px;">
          <i class="w3-text-dark-grey fa fa-lock"></i>
        </div>
      </div>

      <!-- Transaction amount. -->
      <div class="w3-display-right">
        <div v-bind:class="[transaction.value < 0 ? 'w3-margin-right w3-text-red' : 'w3-margin-right w3-text-green']" style="margin-bottom: 20px">
          <b>{{transaction.value | currencyInt(true, $.digits) | currency($.symbol, $.digits)}}</b>
        </div>
      </div>

    </div>

    <!-- Splits list. -->
    <div v-if="showTransactionMenu" class="w3-display-container">

      <ul class="w3-ul">
        <li style="margin: 0; padding: 0; border: 0" v-for="(split, index) in splits" :key="index">
          <transaction-split
            :transaction='transaction'
            :split='split'>
          </transaction-split>
        </li>
      </ul>

    </div>

    <!-- Edit buttons. -->
    <div v-if="showTransactionMenu" class="w3-display-container" style="margin: 0; padding: 0; border: 0">

      <div class="w3-display-top w3-border-top" style="margin: 1px 16px 0px 70px" />

      <div style="padding: 0px 0px 0px 58px; whitepspace: nowrap">

        <div @click="edit" class="w3-medium" style="display: inline-block; padding: 16px 12px 24px 12px;">
          <i class="fas fa-edit w3-text-orange"></i> Edit
        </div>

        <div v-if="!confirmActive" @click="removeTransaction" class="w3-medium" style="display: inline-block; padding: 16px 16px 24px 16px;">
          <i class="fas fa-times w3-text-red"></i> Remove
        </div>

        <div v-if="confirmActive" @click="removeConfirm" class="w3-medium" style="display: inline-block; padding: 16px 16px 24px 16px;">
          <i class="fas fa-times w3-text-red"></i> Confirm Removal
        </div>

      </div>

    </div>

    <!-- Flag. -->
    <div class="w3-display-left" style="height:100%; width:8px;" :style="{'background-color': flag}"></div>

  </div>
</template>

<!-- ================================================== -->
<!--  Transaction script. -->
<!-- ================================================== -->

<script>
  import TransactionSplit from './transaction-split';

  export default {
    name: 'fm-transaction',
    components: {
      TransactionSplit
    },
    props: [
      'transaction',
      'editFunction'
    ],
    data () {
      return {
        showTransactionMenu: false,
        splits: [],
        confirmActive: false,
        dateFormat: ''
      };
    },
    computed: {
      date () {
        var d = new Date(this.transaction.date);
        return this.$dateSettings.dateDisplay(d);
      },
      payeeName () {
        if (this.transaction.transfer !== null && this.transaction.transfer !== undefined) {
          return '⇄ ' + this.$current.dbCtrl.getAccountName(this.transaction.transfer.account);
        } else if (this.transaction.payee !== null && this.transaction.payee !== undefined) {
          return this.$current.dbCtrl.getPayeeName(this.transaction.payee);
        } else {
          return '';
        }
      },
      categoryName () {
        return this.$current.dbCtrl.getCategoryName(this.transaction.category, this.transaction.date) || '';
      },
      categoryError () {
        const acc = this.$current.dbCtrl.manager.getAccount(this.transaction.account);
        if (!acc.onBudget) {
          return false;
        }
        const payee = this.$current.dbCtrl.payees[this.transaction.payee];
        if (payee && payee.constructorName === 'Payee') {
          if (this.transaction.category === null || this.transaction.category === undefined) {
            return true;
          }
        } else if (this.transaction.transfer) {
          const acc = this.$current.dbCtrl.manager.getAccount(this.transaction.transfer.account);
          if (!acc.onBudget) {
            if (this.transaction.category === null || this.transaction.category === undefined) {
              return true;
            }
          }
        }
        return false;
      },
      categoryNotNeeded () {
        const thisAcc = this.$current.dbCtrl.manager.getAccount(this.transaction.account);
        if (!thisAcc.onBudget) {
          return true;
        }

        if (this.transaction.transfer) {
          const acc = this.$current.dbCtrl.manager.getAccount(this.transaction.transfer.account);
          if (acc.onBudget) {
            return true;
          }
        }

        return false;
      },
      memo () {
        if (this.transaction.memo) {
          return this.transaction.memo;
        } else {
          return '';
        }
      },
      flag () {
        if (this.transaction._data.flag === null) {
          return '#cccccc';
        } else {
          return this.transaction._data.flag;
        }
      }
    },
    methods: {
      toggleMenu () {
        this.showTransactionMenu = !this.showTransactionMenu;
        this.confirmActive = false;

        // Signal to all other listening transactions that they need to close their editor menus.
        if (this.showTransactionMenu) {
          this.$parent.$emit('showMenu', this);
        }
      },
      hideMenu () {
        this.showTransactionMenu = false;
        this.confirmActive = false;
      },
      edit () {
        this.editFunction(this.transaction);
        this.showTransactionMenu = false;
      },
      removeTransaction () {
        this.confirmActive = true;
      },
      removeConfirm () {
        if (this.transaction.transfer && this.transaction.transfer.constructorName === 'SplitTransaction') {
          console.log('Cannot delete split.');
          return;
        }

        // const reconciled = this.transactions.reduce((prev, curr) => {
        //   return prev + (curr.reconciled ? 1 : 0)
        // }, 0)

        // if (reconciled) {
        //   const scope = $rootScope.$new({})
        //   scope.reconciled = reconciled
        //   scope.length = this.transactions.length
        //   scope.stopPropagation = $scope.stopPropagation

        //   ngDialog.openConfirm({
        //     template: require('../../views/modal/removeTransactionsConfirm.html'),
        //     scope,
        //     className: 'ngdialog-theme-default ngdialog-theme-default--danger modal'
        //   }).then(this.remove)
        // } else {
        //   this.remove()
        // }

        this.remove(this.transaction);
        this.showTransactionMenu = false;
      },
      remove (transaction) {
        this.$current.dbCtrl.manager.removeTransaction([transaction]);

        if (transaction.payee) {
          this.removePayee(transaction);
        }

        transaction.remove();
      },
      removePayee (transaction) {
        const transactions = Object.keys(this.$current.dbCtrl.manager.transactions).map(k => this.$current.dbCtrl.manager.transactions[k]);

        for (let i = 0; i < transactions.length; i++) {
          if (transactions[i].payee === transaction.payee && transactions[i] !== transaction) {
            return;
          }
        }

        if (this.$current.dbCtrl.payees[transaction.payee] && !this.$current.dbCtrl.payees[transaction.payee].internal) {
          this.$current.dbCtrl.payees[transaction.payee].remove();
          delete this.$current.dbCtrl.payees[transaction.payee];
        }
      }
    },
    watch: {
      'transaction': function () {
        this.splits = this.transaction.splits;
      }
    },
    mounted: function () {
      this.dateFormat = localStorage.getItem('dateFormat');
      this.splits = this.transaction.splits;

      // Listen for other transactions open the editor menu, and hide the menu for this one.
      this.$parent.$on('showMenu', (trans) => {
        if (trans !== this) {
          this.hideMenu();
        }
      });
    }
  };
</script>

<!-- ================================================== -->
<!--  Transaction CSS. -->
<!-- ================================================== -->

<style scoped>
  .bar-50 {
    height: 50px;
  }

  .left-column {
    margin-left: 8px;
    width: 62px;
  }

  .center-column {
    margin-left: 70px;
  }

  .cleared {
    text-align: center;
    display: inline-block;
    border-radius: 6px;
    height: 12px;
    width: 12px;
    line-height: 12px;
    vertical-align: middle;
    font-size: 8px;
  }
</style>